<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>Welcome, <%= name %></h1>
    <ol>
        <li>Username: <%= username %> </li>
        <li>Email: <%= email %></li>
        <li>Latitude: <%= latitude %></li>
        <li>Longitude: <%= longitude %></li>
    </ol>
    
</body>
</html>